{% extends "layouts/base.html" %}
{% load crispy_forms_tags widget_tweaks %}
{% block title %}
 Perfil
{% endblock title %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Perfil do usuário</strong>
            {% comment %} <small> Create</small> {% endcomment %}
        </div>


        <div class="card-body card-block">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    {{ field }} : {{ error }}
                {% endfor %}
            {% endfor %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row form-group">
                    <div class="col-12">
                        <label for="form.user.id">Nome</label>
                        {% render_field form.first_name type="text" class="form-control"%}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <label for="form.user.id">Usuário</label>
                        {% render_field form.username type="text" class="form-control" %}
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12">
                        <label for="form.user.id">Senha</label>
                        {% render_field form.password type="password" class="form-control" %}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12">
                        
                        <label for="form.user.id">E-mail</label>
                        {% render_field form.email type="email" class="form-control"%}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12">
                        <label for="form.user.id">Foto</label>
                        {% render_field form.profile_pic type="file" class+="form-control" %}
                    </div>
                </div>                

                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>                
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock content %}