{% extends "layouts/base.html" %}
{% load static i18n %}

{% block title %}
 Doadores
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Doadores</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-30">
            {% if donors %}
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cadastrado em</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donor in donors %}
                    <tr>
                        <td>{{ donor.user.get_username | title }}</td>
                        <td>{{ donor.user.email }}</td>
                        <td>{{ donor.user.created_at | date:"d/m/Y" }}</td>                            
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="spacer-box-20"></div>
            <div class="empty-box">
                <img src="{% static 'images/icon/green-earth.svg' %}" width="150px" alt="Recicla+ App" draggable="false" />
                <h3>Não há registros</h3>
                <p>Não encontramos nada para ser mostrado aqui.</p>
            </div>  
            {% endif %}
        </div>
    </div>                    
</div>
{% endblock content %}