{% extends "layouts/base.html" %}
{% load static i18n %}

{% block title %}
 Products
{% endblock title %}

{% block content %}
{% if coupon %}
    <div class="row">
        <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per" role="alert" style="margin: 0 auto 20px auto !important;">
            <i class="zmdi zmdi-check-circle"></i>
            <span class="content">Produto aprovado e cupom gerado com sucesso!.</span>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Avaliar Produto</strong>
            </div>
            {% if coupon %}
                <div class="card-body">
                    <div class="typo-headers">
                        <h3 class="pb-2 display-5">Doador: {{ coupon.donor }}</h3>
                        <h3 class="pb-2 display-5">Código do cupom: {{ coupon.hash }}</h3>
                    </div>
                </div>
            {% else %}
                <img src="{% static 'images/icon/green-earth.svg' %}" width="150px" alt="Recicla+ App" draggable="false" />
                <h3>Não há registros</h3>
                <p>Não encontramos nada para ser mostrado aqui.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}