{% extends "layouts/base.html" %}
{% load crispy_forms_tags widget_tweaks %}

{% block title %}
 Criar Produtos
{% endblock title %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Produtos</strong>
            {% comment %} <small> Create</small> {% endcomment %}
        </div>
        <div class="card-body card-block">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} {{ form | crispy }} {% endcomment %}
                <label for="form.name.id">Nome</label>
                {% render_field form.name type="text" class="form-control"%}
                <label for="form.type.id">Tipo</label>
                {% render_field form.type type="text" class="form-control"%}
                <label for="form.quantity.id">Quantidade</label>
                {% render_field form.quantity type="number" class="form-control"%}
                <label for="form.image.id">Imagem</label>
                {% render_field form.image type="file" class="form-control"%}
                <div class="row form-group">
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>                
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}