{% extends "layouts/base.html" %}

{% block title %}
 Products
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive table--no-card m-b-30">
            {% if products %}
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>date</th>
                        <th>order ID</th>
                        <th>name</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.type_id }}</td>                        
                        <td>
                            <a href="">
                                <i class="zmdi zmdi-account"></i>
                            </a>
                            <a href="">
                                <i class="zmdi zmdi-account"></i>
                            </a>
                            <a href="">
                                <i class="zmdi zmdi-account"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Nothing to see here</p>
            {% endif %}
        </div>
    </div>                    
</div>
{% endblock content %}