<li>
    <a href="{% url 'products:list' %}">
        <i class="fas fa-chart-bar"></i>Meus Produtos</a>
</li>

{% if request.user.userprofileinfo.donor %}
    <li>
        <a href="{% url 'products:coupon' %}">
            <i class="far fa-check-square"></i>Cupons</a>
    </li>
    <li>
        <a href="{% url 'products:coupon' %}">
            <i class="far fa-check-square"></i>Empresas Cadastradas</a>
    </li>
{% endif %}

{% if request.user.userprofileinfo.company %}
    <li>
        <a href="{% url 'products:avaliate' %}">
            <i class="far fa-check-square"></i>Produtos disponíveis</a>
    </li>
    <li>
        <a href="{% url 'core:donors_list' %}">
            <i class="far fa-check-square"></i>Lista de Doadores</a>
    </li>
    <li>
        <a href="#">
            <i class="far fa-check-square"></i>Relatórios</a>
    </li>  
{% endif %}
    


