<li>
    <a href="{% url 'products:list' %}">
        <i class="fa fa-rocket"></i>Meus Produtos</a>
</li>

{% if request.user.donor %}
    <li>
        <a href="{% url 'products:coupon' %}">
            <i class="fa fa-tag"></i>Cupons</a>
    </li>
    <li>
        <a href="{% url 'products:coupon' %}">
            <i class="fa fa-asterisk"></i>Empresas Parceiras</a>
    </li>
{% endif %}

{% if request.user.company %}
    <li>
        <a href="{% url 'products:avaliate' %}">
            <i class="far fa-check-square"></i>Produtos disponíveis</a>
    </li>
    <li>
        <a href="{% url 'core:donors_list' %}">
            <i class="fa fa-list-alt"></i>Lista de Doadores</a>
    </li>
    {% comment %} <li>
        <a href="#">
            <i class="far fa-bar-chart-o"></i>Relatórios</a>
    </li>   {% endcomment %}
{% endif %}
    


