<!-- Se empresa ver so os produtos pendente aprovação
    Se doador so os dele
-->
<li>
    <a href="{% url 'products:list' %}">
        <i class="fas fa-chart-bar"></i>Meus Produtos</a>
</li>
<!-- <li>
    <a href="#">
        <i class="fas fa-table"></i>Empresas</a>
</li>
<li>
    <a href="#">
        <i class="far fa-check-square"></i>Doadores</a>
</li> -->
<!--TODO So doador pode ver -->
<li>
    <a href="{% url 'products:coupon' %}">
        <i class="far fa-check-square"></i>Cupons</a>
</li>
<!--TODO So empres pode ver -->
<li>
    <a href="{% url 'products:avaliate' %}">
        <i class="far fa-check-square"></i>Avaliar Produtos</a>
</li>

<li>
    <a href="#">
        <i class="far fa-check-square"></i>Relatórios</a>
</li>  